Olá, {{ name }}
<p>Sua dúvida foi respondida!</p>
<p>Dúvida: {{question}}</p>
<p>Resposta: {{answer}}</p>
<p>Data da resposta: {{answerAt}}</p>
<p>
  Qualquer outra dúvida, entre em contato conosco!
</p>
